.background_bg {
    background-position: center center;
    background-size: cover;
}

.subscribe_popup {
    content: "";
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    right: 0;
    width: 0;
    display: none;
    z-index: 9999999;
}

.subscribe_popup.show {
    display: block;
    left: 0;
    right: auto;
    width: 100%;
}

.subscribe_popup .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    opacity: 1;
    text-shadow: none;
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
}

.popup_content {
    padding: 50px;
    text-align: center;
}

.subscribe_popup .modal-content {
    border: 0;
    border-radius: 0;
}

.subscribe_popup .modal-body {
    padding: 0;
}

/* Search */
.search_wrap {
    position: fixed;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    z-index: 9999;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

.search_wrap.open {
    opacity: 1;
    visibility: visible;
    animation: slideInLeft 1s both;
}

.close-search {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 25%;
}

.search_wrap form {
    position: relative;
    width: 100%;
}

.search_wrap .form-control {
    background-color: transparent;
    border-bottom: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 10px 0;
    color: #fff;
}

.search_icon {
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: #fff;
}

.search_wrap .form-control::placeholder {
    color: #ffffff;
}

.search_overlay.open {
    left: 0;
    right: auto;
    width: 100%;
}

.search_overlay {
    content: "";
    background-color: #000;
    height: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    opacity: 0.5;
    right: 0;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    width: 0;
    z-index: 99;
}

.form-check-input:focus {
    box-shadow: unset;
}

.form-check-input:checked {
    background-color: #FF324D;
    border-color: #FF324D;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Search */

/* Delete Confirmation */
.delete-confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.delete-confirmation-modal.show {
    display: block;
    background: rgba(0, 0, 0, .5);
}

.delete-confirmation-modal .modal-confirm {
    color: #636363;
}

.delete-confirmation-modal .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.delete-confirmation-modal .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.delete-confirmation-modal .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.delete-confirmation-modal .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .6;
    background: transparent;
}

.delete-confirmation-modal .modal-confirm .modal-body {
    color: #999;
}

.delete-confirmation-modal .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.delete-confirmation-modal .modal-confirm .modal-footer a {
    color: #999;
}

.delete-confirmation-modal .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.delete-confirmation-modal .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
}

.delete-confirmation-modal .modal-confirm .btn,
.delete-confirmation-modal .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0;
    min-width: 130px;
}

.delete-confirmation-modal .modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.delete-confirmation-modal .modal-confirm .btn-secondary:hover,
.delete-confirmation-modal .modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.delete-confirmation-modal .modal-confirm .btn-danger {
    background: #f15e5e;
}

.delete-confirmation-modal .modal-confirm .btn-danger:hover,
.delete-confirmation-modal .modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.delete-confirmation-modal .trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* Delete Confirmation */

/* Reset Password */
.reset-password-modal {
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: none;
}

.reset-password-modal.active {
    display: block;
    z-index: 9999;
}

.reset-password-modal .backdrop {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}

.reset-password-modal .backdrop.show {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.reset-password-modal .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 90%;
    background-color: #fff;
    border: 0px solid;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    padding: 32px;
}

.reset-password-modal h2 {
    margin: 0px;
    font-family: "Roboto";
    color: #0c2640;
    margin-bottom: 20px;
    font-size: 16px;
}

.reset-password-modal .cancel-btn {
    background: #FFFFFF;
    border: 1px solid #00B4E5;
    border-radius: 5px;
    color: #00B4E5;
    text-transform: none;
}

.reset-password-modal .save-btn {
    background-color: #00B4E5;
    color: #fff;
}

.reset-password-modal .cancel-btn,
.reset-password-modal .save-btn {
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.reset-password-modal span.text-danger {
    font-size: 14px;
    margin-top: 6px;
    display: block;
}

/* Reset Password */

/* Sub Category Modal */
.sub_categories_menu {
    background: #0c0c0c;
    color: rgba(255, 255, 255, 0.25);
    font-size: 1.3rem;
    line-height: 1.846;
    padding: 3.6rem 1.6rem 3.6rem 1.6rem;
    height: 100%;
    width: 290px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;

    -moz-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    -moz-transition: all .45s cubic-bezier(.25, .46, .45, .94);
    -o-transition: all .45s cubic-bezier(.25, .46, .45, .94);
    -webkit-transition: all .45s cubic-bezier(.25, .46, .45, .94);
    transition: all .45s cubic-bezier(.25, .46, .45, .94);
    visibility: hidden;
}

.sub_categories_menu.active {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}

.sub_categories_menu ul li {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
}

.sub_categories_menu ul li.active {
    color: #FF324D;
}

.sub_categories_menu .menu__close {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 20px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    border: none;
    z-index: 800;
}

.sub_categories_menu .menu__close span::before,
.sub_categories_menu .menu__close span::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -1px;
}

.sub_categories_menu .menu__close span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sub_categories_menu .menu__close span::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* new with dropdown */
.menu-main-subcategories .toggle-submenu {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.menu-main-subcategories .toggle-submenu .toggle-icon {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.menu-main-subcategories .toggle-submenu .toggle-icon::before {
    content: "";
    display: inherit;
    width: 7px;
    height: 7px;
    border: 1px solid #b2b2b2;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-main-subcategories .menu-item.open .toggle-submenu .toggle-icon:after {
    display: inline-block;
}

.menu-main-subcategories .menu-item.open .toggle-submenu .toggle-icon::before {
    display: none;
}

.menu-main-subcategories .toggle-submenu .toggle-icon:after {
    content: "";
    width: 7px;
    height: 7px;
    border: 1px solid #b2b2b2;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: none;
}

.menu-main-subcategories .menu-item .sub-menu {
    list-style: none;
    padding-left: 0.75rem;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: height .35s linear 0s;
}

.menu-main-subcategories .menu-item.open .sub-menu {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.menu-main-subcategories li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 22px 10px;
    white-space: nowrap;
}

/* new with dropdown */

/* Sub Category Modal */

@media only screen and (max-width: 991px) {
    .subscribe_popup .modal-dialog {
        max-width: 700px;
    }

    .popup_content {
        padding: 30px;
    }

    .search_wrap {
        max-width: 100%;
        margin: 0 30px;
    }
}

@media only screen and (max-width: 767px) {
    .subscribe_popup .modal-dialog {
        max-width: 95%;
    }

    .popup_content {
        padding: 25px;
    }

    .popup-text .heading_s1 {
        margin-bottom: 15px;
    }

    .popup-text p {
        font-size: 14px;
        line-height: normal;
        margin-bottom: 15px;
    }
}